/* styles.css */

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    background-color: #ff6666;
    /* 赤っぽい背景色 */
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    /* 白い文字 */
    padding: 20px;
    /* 文字周りの余白 */
}

h1.blinking {
    animation: blink 1s infinite;
    /* 1秒ごとに点滅 */
}